
.bggred{
    background: lightblue;
}
.center{
    text-align: center;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}
.bgco{
    background: lightcoral;
}